<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect requests to directory or file to index.php if not found
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other URLs to index.php
    RewriteRule ^(.*)$ index.php/$1 [L]

    # Ensure no double slashes in URLs
    RewriteCond %{REQUEST_URI} ^(.*)//(.*)$
    RewriteRule . %1/%2 [R=301,L]
</IfModule>